<footer class="page-footer">
 <div class="footer-copyright">
   <div class="container">
   © 2017 Copyright
   <a class="grey-text text-lighten-4 right" href="http://www.istone.com/se/" target="_blank">iStone</a>
   </div>
 </div>
</footer>



<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
