<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>What Did I Do</title>

</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

      </ul>
      <ul class="side-nav" id="mobile-demo">

      </ul>
    </div>
  </nav>
  <div class="hero">
    <div class="hero-buttons">
      <a class="waves-effect waves-light btn-large" href="/signUp"><i class="material-icons right">cloud</i>Sign up</a>
      <a class="waves-effect waves-light btn-large" href="/login"><i class="material-icons right">cloud</i>Login</a>
    </div>
  </div>

<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
