<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>

</head>
<body id="dashboard">
  <% include ../partials/header.ejs %>

  <div class="row">

    <% include ../partials/dashside.ejs %>

    <div class="col s11">
      <h4>Welcome <%=user%></h4>

        <ul class="collapsible" data-collapsible="accordion">
          <% clients.forEach(function(client) { %>
          <li>
            <div class="collapsible-header"><i class="material-icons">person</i><%= client.name%></div>
            <div class="collapsible-body">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">  <i class="material-icons">assignment</i><%= client.project%></div>
                  <div class="collapsible-body">
                    <input type="text" id="autocomplete-input" class="autocomplete" placeholder="What did you do?">
                    <input type="date" data-value="2015/04/20" class="datepicker">
                    <div class="row">
                    <div class="startButton">
                      <span class="startText">Start</span>
                    </div>
                    <input type="text" name="timestamp" value="00:00:00" disabled>
                    </div>

                  </div>
                </li>
              </ul>
            </div>
          </li>
          <% }); %>

      </ul>



      </div>
    </div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>

  </body>
  </html>
