<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>What Did I Do</title>

</head>
<body id="dashboard">
  <% include ../partials/header.ejs %>

  <div class="row">

    <div id="dashSide" class="col s1">
      <ul>
        <li class="active"> <i class="material-icons">group</i><br> Clients</li>
        <hr>
        <li> <i class="material-icons">assignment_turned_in</i><br> History</li>
        <hr>
        <li> <i class="material-icons">trending_up</i><br> Statistics</li>
      </ul>
    </div>

    <div class="col s11">
      <h4>Welcome <%=user%></h4>




        <ul class="collapsible" data-collapsible="accordion">
          <% clients.forEach(function(client) { %>
          <li>
            <div class="collapsible-header"><i class="material-icons">person</i><%= client.name%></div>
            <div class="collapsible-body">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">  <i class="material-icons">assignment</i><%= client.project%></div>
                  <div class="collapsible-body">
                    <input type="text" id="autocomplete-input" class="autocomplete" placeholder="What did you do?">
                    <input type="date" data-value="2015/04/20" class="datepicker">
                    <div class="row">
                    <h6><time>00:00:00</time></h6>
                    <div id="start" class="startButton">
                      <span class="startText">Start</span>
                    </div>
                    <div id="stop" class="stopButton">
                      <span class="stopText">Stop</span>
                    </div>
                    <input type="text" name="timestamp" value="00:00:00" disabled>
                    </div>
                    <input type="submit" value="Save">
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <% }); %>

      </ul>



      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/stopWatch.js"></script>
    <script src="/js/script.js"></script>

  </body>
  </html>
