<% include ../partials/head %>
<% include ../partials/header %>


  <div class="hero">
    <div class="hero-buttons">
      <a class="waves-effect waves-light btn-large" href="/signUp"><i class="material-icons right">cloud</i>Sign up</a>
      <a class="waves-effect waves-light btn-large" href="/login"><i class="material-icons right">cloud</i>Login</a>
    </div>
  </div>

  <% include ../partials/footer %>
