<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<% include ../partials/header %>

    <div class="hero">
      <div class="hero-buttons">
        <a class="waves-effect waves-light btn-large" href="/signUp"><i class="material-icons right">cloud</i>Sign up</a>
        <a class="waves-effect waves-light btn-large" href="/login"><i class="material-icons right">cloud</i>Login</a>
      </div>
    </div>
      <div id="loginModal" class="modal">
        <div class="modal-content">
          <h4>Login</h4>
          <div class="row">
  <form action="/login" name="loginForm" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn modal-close waves-effect waves-light" type="submit" name="action">Login
        <i class="material-icons right">send</i>
      </button>
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
    </form>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>

    </body>
    </html>
