


<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body id="dashboard">
  <% include ../partials/header.ejs %>

  <div class="row">

    <div id="dashSide" class="col s1">
      <ul>
        <li> <i class="material-icons">group</i><br> Clients</li>
        <hr>
        <li> <i class="material-icons">assignment_turned_in</i><br> History</li>
        <hr>
        <li> <i class="material-icons">trending_up</i><br> Statistics</li>
      </ul>
    </div>
    <div class="col s11">
      <h4>Change your settings</h4>
      <form id="settingsForm" action="/settings" method="post">
        <div class="input-field">
          <input type="text" name="firstName" value="">
          <label for="firstName">First Name</label>
        </div>

        <div class="input-field">
          <input type="text" name="email" value="">
          <label for="email">Email</label>
        </div>


        <div class="input-field">
          <input type="password" name="password" value="">
          <label for="password">Password</label>
        </div>


        <div class="input-field">
          <input type="password" name="password2" value="">
          <label for="password2">Repeat password</label>
        </div>


        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>


      </form>

    </div>
  </div>



    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>

  </body>
  </html>
